{% extends 'partials/site.html.twig' %}

{% block banner %}
	<section class="section-home-banner">
		<div class="home-banner-holder">
			<div class="home-background">
				<img src="http://rapian.com/assets/images/poster.jpg" alt="Background">
			</div>
		</div>
		<div class="home_header">
			<div class="hero_container"></div>
		</div>
	</section>
{% endblock %}

{% block content %}
	<section id="PageContainer" class="is-moved-by-drawer">
		<div class="container">
			<div class="page-block">
				<div class="page-title">
					<div class="auto-box clearfix">
						<h1 class="col-lg-12 animated fadeIn in" data-animation="fadeIn" data-transition="1500"> {{ site.title }}</h1>
					</div>
				</div>

				{% macro loop(page) %}
					{% for p in page.children %}
						{% if p.visible %} {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
							{% if p.children.count > 0 %}
								<article class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animated fadeInUp in col">
									<h4><a href="{{ p.url }}" title="{{ p.menu }}">{{ p.menu }}</a></h4>
									<ul class="list-unstyled">
										{% for key, sub in  p.children|slice(0, 5) %}
											{% set body_classes = sub.header.body_classes ? sub.header.body_classes : 'fa-file-text-o' %}
											<li>
												<a href="{{ sub.url }}" title="{{ sub.menu }}">
													<i class="fa {{ body_classes  }}" aria-hidden="true"></i>
													{{ sub.menu }}
												</a>
											</li>
										{% endfor %}
									</ul>
								</article>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endmacro %}

				<section class="topic-listing all">
					<div class="auto-box">
						<div class="row clearfix row-eq-height">
							<div class="listing-container">
								{{ _self.loop(pages) }}
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
{% endblock %}